/* App.css or a dedicated CSS file for FeatureSection */

.feature-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  margin-top: 30px;
}

.feature-item {
  flex: 1 1 calc(25% - 40px); /* 4 items per row with gap */
  text-align: center;
  max-width: calc(25% - 40px);
  border-radius: 8px;
  padding: 20px;
  
}

.feature-item:hover {
  background-color: #e0e0e0;
}

.feature-icon {
  color: #0056b3; /* Customize icon color */
  margin-bottom: 10px;
}

.feature-item h3 {
  font-size: 1.1rem;
  margin: 10px 0;
}

.feature-item p {
  font-size: 1rem;
  color: #555;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .feature-item {
    flex: 1 1 calc(33.333% - 40px); /* 3 items per row */
    max-width: calc(33.333% - 40px);
  }
}

@media (max-width: 900px) {
  .feature-item {
    flex: 1 1 calc(50% - 40px); /* 2 items per row */
    max-width: calc(50% - 40px);
  }
}

@media (max-width: 600px) {
  .feature-item {
    flex: 1 1 100%; /* 1 item per row */
    max-width: 100%;
  }
}
