/* App.css */

/* General styling */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  padding: 0;
  color: white;
}

h2 {
  font-size: 27px;
  margin-bottom: 40px;
  padding-top: 30px;
  color: #333;
}

/* Navigation Bar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  background-color: #003366;
  z-index: 1000;
  margin-bottom: 30px;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Main Content Styling */
.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items to the start to keep the image up */
  padding: 30px 20px;
  background-color: white;
  margin-left: 30px;
}

.content-left {
  flex: 1;
  text-align: left;
  padding-right: 20px;
}

.content-right {
  flex: 1;
  text-align: right;
  display: flex;
  align-items: flex-start; /* Ensure the image aligns to the top */
}

.main-heading {
  font-size: 3em;
  font-weight: bold;
  line-height: 1.2;
}

.sub-heading {
  font-size: 1.2em;
  margin: 20px 0;
}

/* Adjusted Button Styling */
.consultation-button {
  background-color: #003366;
  color: white;
  border: none;
  padding: 10px 20px; /* Adjusted padding for better button size */
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%; /* Changed to auto for better flexibility */
}

.consultation-button:hover {
  background-color: white;
  color: black;
}

/* Adjusted Image Styling */
.service-image {
  width: 100%; /* Full width of its container */
  max-width: 1000px; /* Adjust max-width as needed */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure the entire image is visible */
}
